.card {
  width: max-content;
  margin: auto;
  margin-top: 20px;
}
#clock {
  transition: ease;
}
#clock:hover {
  transform: scale(2);
}
.form-select {
  width: max-content;
  margin: 20px;
  float: left;
}
.btnn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.list {
  margin: 10px;
}
li {
  font-weight: bold;
  font-size: xx-large;
}
#stp {
  margin: 5px;
}
